html{
  height: 100%;
}
body {
  background: #3F3939;
  font-family: Arial;
  display: flex;
  height: 100%;
  flex-direction: column;
}

h1 {
  font-family: 'Baloo Chettan', cursive;
}

.also-logo {
  width: 100px;
  height: 100px;
  align-items: flex-end;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
  flex: 1 0 auto;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

nav ul {
  padding: 0;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #999;
  padding: 10px;
}

footer {
  background-color: #666;
  padding: 10px;
  text-align: center;
  color: white;
  flex-shrink: 0;

}

@media only screen and (max-width: 600px) {
  section {
    flex-direction: column-reverse;
  }
}
